.container-fluid {
    text-align: center;
}

.main-window {
    height: 100vh;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.ticket-window {
    display: flex;
    flex-direction: column;
    gap: 14px;
}


footer {
    text-align: center;
}

.border-radius {
    border-radius: 8px;
}

.ticket-card {
    margin-top: 14px;
    padding: 5px;
}

.type-tag {
    padding: 5px;
    width: 10rem;
}